<h1>Wiki Users</h1>
<% @users.each do |user| %>
  <p><%= link_to user.name, user %></p>
<% end %>


<!-- the users#index view needs to have option to add to wiki as collaborators.  something like <% if  current_user.premium? %>
      <div class="form-group">
        <%= f.label :collaborator, class: 'checkbox' do %>
        <%= f.check_box :collaborator %> Collaborator
        <% end %>
      </div>
    <% end %> -->
