<h1>My Wikis</h1>
<p>Find me in app/views/users/show.html.erb</p>
<%= link_to "Premium", new_charge_path, class: 'btn btn-primary' %> 
<p>Upgrade to create private wikis!</p>

<% @wikis.each do |wiki| %>
  <%= link_to wiki.title, wiki %>
<% end %>