<h1>My Wikis</h1>
<p>Find me in app/views/users/show.html.erb</p>
<%= link_to "Unsubscribe", charge_path(current_user), method: :delete, class: 'btn btn-danger' %> Or Upgrade to<%= link_to "Premium", new_charge_path, class: 'btn btn-primary' %> to create private wikis!


