<h1>About Blocipedia</h1>
<p>Re-created by:
</br> Jamaleh with a great deal of sweat and help from my mentor at <%= link_to "Bloc", "https://www.bloc.io" %>.</p>

<h3>What is a <%= link_to Wiki, src="https://en.wikipedia.org/wiki/Wiki" %>?</h3>
