<h1>Edit Wiki</h1>

<div class="row">
  <div class="col-md-4">
    <p>Guidelines for wikis</p>
    <ul>
      <li>Write guidelines for wikis</li>
      <li>Write more guidelines for wikis</li>
    </ul>
  </div>
  <%= render partial: 'form', locals: { wiki: @wiki } %>
</div>
  <%= render partial: 'wikis/collaborator', locals: { wiki: @wiki } %>

<!-- put a add_collobarotors button here that links to an index of users.  
put a button to edit collaborators -->
